<!DOCTYPE html>
<html>

<head>
    <title>Link Information <%- id %></title>
    <meta property="og:title" content="TheLink Information <%- id %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="https://m.media-amazon.com/images/M/MV5BZDJjOTE0N2EtMmRlZS00NzU0LWE0ZWQtM2Q3MWMxNjcwZjBhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_QL75_UX190_CR0,0,190,281_.jpg" />
</head>

<body>
    <h1>Link Information for <%- id %></h1>
</body>

</html>